doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        link(rel="stylesheet", href="css/main.min.css")
    body 
        .wrapper 
            section.chat-area 
                header
                    a.back-icon(href="#")
                        i.fas.fa-arrow-left  
                    img(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="")
                    .details 
                        span Khan
                        p Онлайн      
                .chat-box
                    .chat.outgoing
                        .details 
                            p Далеко-далеко за словесными горами в стране.
                    .chat.incoming
                        img(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="")
                        .details 
                            p Далеко-далеко за словесными горами в стране.
                    .chat.outgoing
                        .details 
                            p Далеко-далеко за словесными горами в стране.
                    .chat.incoming
                        img(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="")
                        .details 
                            p Далеко-далеко за словесными горами в стране.
                    .chat.outgoing
                        .details 
                            p Далеко-далеко за словесными горами в стране.
                    .chat.incoming
                        img(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="")
                        .details 
                            p Далеко-далеко за словесными горами в стране.
                    .chat.outgoing
                        .details 
                            p Далеко-далеко за словесными горами в стране.
                    .chat.incoming
                        img(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="")
                        .details 
                            p Далеко-далеко за словесными горами в стране.
                    .chat.outgoing
                        .details 
                            p Далеко-далеко за словесными горами в стране.
                    .chat.incoming
                        img(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="")
                        .details 
                            p Далеко-далеко за словесными горами в стране.
                form.typing-area(action="")
                    input(type="text" placeholder="Сообщение...")
                    button
                        i.fas.fa-share
                        
        script(src="js/main.min.js")